@font-face {
  font-family: "geomanist-bold";
  src: url("../../fonts/Geomanist-Bold/geomanist-bold-webfont.eot");
  src: url("../../fonts/Geomanist-Bold/geomanist-bold-webfont.woff") format("woff"), url("../../fonts/Geomanist-Bold/geomanist-bold-webfont.woff2") format("woff2"), url("../../fonts/Geomanist-Bold/geomanist-bold-webfont.svg#filename") format("svg"); }
@font-face {
  font-family: "geomanist-thin";
  src: url("../../fonts/Geomanist-Thin/geomanist-thin-webfont.eot");
  src: url("../../fonts/Geomanist-Thin/geomanist-thin-webfont.woff") format("woff"), url("../../fonts/Geomanist-Thin/geomanist-thin-webfont.woff2") format("woff2"), url("../../fonts/Geomanist-Thin/geomanist-thin-webfont.svg#filename") format("svg"); }
@font-face {
  font-family: "geomanist-bold-italics";
  src: url("../../fonts/Geomanist-Bold-Italic/geomanist-bold-italic-webfont.eot");
  src: url("../../fonts/Geomanist-Bold-Italic/geomanist-bold-italic-webfont.woff") format("woff"), url("../../fonts/Geomanist-Bold-Italic/geomanist-bold-italic-webfont.woff2") format("woff2"), url("../../fonts/Geomanist-Bold-Italic/geomanist-bold-italic-webfont.svg#filename") format("svg"); }
@font-face {
  font-family: "geomanist-ultra";
  src: url("../../fonts/Geomanist-Ultra/geomanist-ultra-webfont.eot");
  src: url("../../fonts/Geomanist-Ultra/geomanist-ultra-webfont.woff") format("woff"), url("../../fonts/Geomanist-Ultra/geomanist-ultra-webfont.woff2") format("woff2"), url("../../fonts/Geomanist-Ultra/geomanist-ultra-webfont.svg#filename") format("svg"); }
@font-face {
  font-family: "geomanist-light";
  src: url("../../fonts/Geomanist-Light/geomanist-light-webfont.eot");
  src: url("../../fonts/Geomanist-Light/geomanist-light-webfont.woff") format("woff"), url("../../fonts/Geomanist-Light/geomanist-light-webfont.woff2") format("woff2"), url("../../fonts/Geomanist-Light/geomanist-light-webfont.svg#filename") format("svg"); }
.geo-light, #root,
body, .Header-section {
  font-family: "geomanist-light", Arial, Helvetica, sans-serif; }

.geo-ultra {
  font-family: "geomanist-ultra", Arial, Helvetica, sans-serif; }

.geo-bold-italics, .Section-text h4 {
  font-family: "geomanist-bold-italics", Arial, Helvetica, sans-serif; }

.geo-bold, h1,
h2,
h3,
h4,
h5,
h6, .Big-section .Section-number-holder .Section-number {
  font-family: "geomanist-bold", Arial, Helvetica, sans-serif; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a:link, a:hover, a:visited {
  color: inherit;
  text-decoration: none; }

ul li {
  list-style: none; }

.border {
  border: solid 1px black; }

.image {
  max-width: 100%; }

#root,
body {
  overflow-x: hidden !important;
  display: flex;
  font-size: 62.5%;
  width: 100vw; }

.App {
  padding-top: 6em; }

main {
  position: relative;
  width: 100vw; }

.vh {
  min-height: 100vh; }

.container {
  width: 100%; }

.flex-column {
  flex-direction: column; }

.flex, .flex-column, .flex-content-center {
  display: flex; }

.flex-1 {
  flex: 1; }

.flex-space-between {
  justify-content: space-between; }

.flex-center-vertical {
  align-items: center; }

.flex-center-horizontal {
  justify-content: center; }

.flex-content-center {
  justify-content: center;
  align-items: center; }

.relative, .We-are-animation {
  position: relative; }

.absolute, .Nav-container, .We-are-animation h3 {
  position: absolute; }

.fixed, header {
  position: fixed; }

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.mw-100, .logo, .Header-band {
  max-width: 100%; }

.space-10 {
  margin: 7em 0; }
  @media only screen and (min-width: 990px) {
    .space-10 {
      margin: 9em 0; } }
  @media only screen and (min-width: 550px) and (max-width: 989px) {
    .space-10 {
      margin: 8em 0; } }

.collapse-row-column {
  display: flex;
  flex-direction: column; }
  @media only screen and (min-width: 550px) {
    .collapse-row-column {
      flex-direction: row; } }

.text-white {
  color: white; }

.text-black {
  color: black; }

header {
  top: 0;
  z-index: 100; }

.Nav-container {
  z-index: 100;
  width: 100vw;
  height: 6em;
  background: #85dbd7;
  padding: 0 5%; }
  .Nav-container .image {
    margin-top: 10%;
    max-width: 100%; }
  .Nav-container .Nav-image-holder {
    width: 20%; }
  .Nav-container .Nav-menu-spread {
    display: none; }
    @media only screen and (min-width: 550px) {
      .Nav-container .Nav-menu-spread {
        display: block;
        display: flex; }
        .Nav-container .Nav-menu-spread .Nav-item {
          font-size: 1rem;
          transition: all 0.3s ease-in-out; } }
  @media only screen and (min-width: 550px) {
    .Nav-container .Nav-menu,
    .Nav-container .Nav-burger {
      display: none; } }

.Nav-menu {
  margin-top: -100px;
  height: 0vh;
  width: 100vw;
  background: #85dbd7;
  flex-direction: column;
  transition: all 0.3s ease-in; }
  .Nav-menu .Nav-item {
    font-size: 1.5rem;
    height: 2.3rem;
    transition: all 0.3s ease-in-out; }
  @media only screen and (min-width: 550px) {
    .Nav-menu {
      flex-direction: row; } }

.Nav-item {
  color: white;
  padding: 0 1%;
  white-space: nowrap; }

.Nav-menu-open {
  margin-top: 0;
  padding-top: 7em;
  height: 120vh; }

.Big-section {
  justify-content: space-between; }
  .Big-section .Section-number-holder {
    justify-content: center; }
    @media only screen and (min-width: 550px) {
      .Big-section .Section-number-holder {
        justify-content: flex-end; }
        .Big-section .Section-number-holder + .Section-text-holder {
          padding-right: 10%;
          margin-top: 20rem; }
          .Big-section .Section-number-holder + .Section-text-holder .Section-text {
            max-width: 100%; } }
    .Big-section .Section-number-holder .Section-number {
      font-size: 15rem;
      padding: 0;
      margin: 0 0 -3.5rem 0; }
      .Big-section .Section-number-holder .Section-number span {
        font-size: 8rem;
        margin-left: -0.5rem; }

.Section-title {
  font-size: 2em; }

.Section-text {
  hyphens: none;
  font-size: 1.2rem;
  max-width: 70%;
  line-height: 30px;
  letter-spacing: 0.8px;
  text-align: justify;
  margin-bottom: 4rem; }
  .Section-text h4 {
    font-size: 1.2rem;
    text-align: right;
    margin-bottom: 1.5rem; }

.Products-fish-holder {
  margin: 10rem 0; }
  @media only screen and (min-width: 550px) {
    .Products-fish-holder {
      margin: inherit; } }

.Products-fish {
  display: flex;
  flex-direction: column;
  padding: 0 25%; }
  .Products-fish .image {
    margin-bottom: 2.5rem; }
  @media only screen and (min-width: 550px) {
    .Products-fish {
      padding: 0 10%;
      flex-direction: row;
      padding: auto; }
      .Products-fish .Products-fish-square {
        margin-right: 10px; }
      .Products-fish .image {
        height: auto;
        margin: auto; } }

.Big-section-1 {
  background: #573b30; }

.Big-section-2 {
  background: #5ad0ba; }

.Big-section-3 {
  background: #573b30; }

.Big-section-4 {
  background: #f32e37; }

.Big-section-8 {
  background: #c3447a; }

.Big-section-6 {
  background: #4d448a; }

.Big-section-7 {
  background: #e15d44; }

.Big-section-9 {
  background: #ec5d73; }

.Big-section-10 {
  background: #87857d; }

.Big-section-11 {
  background: #71cc51; }

.Big-section-5 {
  background: white; }
  .Big-section-5 .content {
    max-width: 200px;
    flex-wrap: wrap;
    justify-content: space-evenly; }
    @media only screen and (min-width: 550px) and (max-width: 989px) {
      .Big-section-5 .content {
        flex-direction: row; } }
    @media only screen and (min-width: 990px) {
      .Big-section-5 .content {
        flex-direction: row; } }

.Header-band {
  border-bottom: solid 5px black; }

.Header-section {
  background-color: #ffc702;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 10% 0 10%;
  height: 130vh; }
  .Header-section .logo .image {
    max-width: auto;
    height: 100%;
    width: 100%; }
  @media only screen and (min-width: 550px) {
    .Header-section .logo {
      width: 100%; }
      .Header-section .logo .image {
        max-width: 100%;
        height: 100%;
        width: 80em; } }
  .Header-section h1 {
    color: #b5457c;
    font-size: 2.6rem;
    text-align: center;
    letter-spacing: 2px; }
    @media only screen and (min-width: 550px) {
      .Header-section h1 {
        font-size: 4rem;
        text-align: center;
        letter-spacing: 2px; } }
    .Header-section h1 span {
      white-space: nowrap; }
  .Header-section .absolute, .Header-section .Nav-container, .Header-section .We-are-animation h3, .We-are-animation .Header-section h3 {
    width: 100%;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0); }

.Products-animation {
  transform: rotate(2turn) translateX(0) !important; }

.Products,
.Products-roll {
  -webkit-transition: all 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
  transition: all 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s; }

.Products-roll {
  transform: translateX(-1000%); }

.Tracking-fade-in {
  opacity: 0; }

@keyframes slideright {
  0% {
    margin-left: -400%; }
  25% {
    margin-left: inherit; }
  75% {
    margin-left: inherit; }
  100% {
    margin-left: 400%; } }
.We-are-animation {
  height: 500px;
  flex: 1;
  font-size: 1.6rem;
  padding: 0 10%;
  margin: 50px 0;
  text-align: center; }
  .We-are-animation .We-are {
    font-family: "geomanist-thin", helvetica, sans-serif; }
    @media only screen and (min-width: 550px) and (max-width: 989px) {
      .We-are-animation .We-are {
        display: inline; } }
    @media only screen and (min-width: 990px) {
      .We-are-animation .We-are {
        display: inline; } }
  .We-are-animation .We-are-rotary {
    transition: all 0.3s ease-in-out 0.7s; }

/*# sourceMappingURL=index.css.map */
