.Products-animation {
  transform: rotate(2turn) translateX(0) !important;
}
.Products,
.Products-roll {
  -webkit-transition: all 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
  transition: all 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}
.Products-roll {
  transform: translateX(-1000%);
}
.Tracking-fade-in {
  opacity: 0;
}
@keyframes slideright {
  0% {
    margin-left: -400%;
  }
  25% {
    margin-left: inherit;
  }
  75% {
    margin-left: inherit;
  }
  100% {
    margin-left: 400%;
  }
}

.We-are-animation {
  @extend .relative;
  height: 500px;
  flex: 1;
  font-size: 1.6rem;
  padding: 0 10%;
  margin: 50px 0;
  text-align: center;
  // -webkit-transition: all 1s ease-in;
  // transition: opacity 1s ease-in, visibility 1s ease-in;
  // animation: slideright 10s ease-in-out infinite;
  h3 {
    @extend .absolute;
  }
  .We-are {
    font-family: "geomanist-thin", helvetica, sans-serif;
    @include tablet {
      display: inline;
    }
    @include desktop {
      display: inline;
    }
  }
  .We-are-rotary {
    transition: all 0.3s ease-in-out 0.7s;
  }
}
