@font-face {
  font-family: "geomanist-bold";
  src: url("../../fonts/Geomanist-Bold/geomanist-bold-webfont.eot");
  src: url("../../fonts/Geomanist-Bold/geomanist-bold-webfont.woff")
      format("woff"),
    url("../../fonts/Geomanist-Bold/geomanist-bold-webfont.woff2")
      format("woff2"),
    url("../../fonts/Geomanist-Bold/geomanist-bold-webfont.svg#filename")
      format("svg");
}
@font-face {
  font-family: "geomanist-thin";
  src: url("../../fonts/Geomanist-Thin/geomanist-thin-webfont.eot");
  src: url("../../fonts/Geomanist-Thin/geomanist-thin-webfont.woff")
      format("woff"),
    url("../../fonts/Geomanist-Thin/geomanist-thin-webfont.woff2")
      format("woff2"),
    url("../../fonts/Geomanist-Thin/geomanist-thin-webfont.svg#filename")
      format("svg");
}
@font-face {
  font-family: "geomanist-bold-italics";
  src: url("../../fonts/Geomanist-Bold-Italic/geomanist-bold-italic-webfont.eot");
  src: url("../../fonts/Geomanist-Bold-Italic/geomanist-bold-italic-webfont.woff")
      format("woff"),
    url("../../fonts/Geomanist-Bold-Italic/geomanist-bold-italic-webfont.woff2")
      format("woff2"),
    url("../../fonts/Geomanist-Bold-Italic/geomanist-bold-italic-webfont.svg#filename")
      format("svg");
}
@font-face {
  font-family: "geomanist-ultra";
  src: url("../../fonts/Geomanist-Ultra/geomanist-ultra-webfont.eot");
  src: url("../../fonts/Geomanist-Ultra/geomanist-ultra-webfont.woff")
      format("woff"),
    url("../../fonts/Geomanist-Ultra/geomanist-ultra-webfont.woff2")
      format("woff2"),
    url("../../fonts/Geomanist-Ultra/geomanist-ultra-webfont.svg#filename")
      format("svg");
}
