header {
  @extend .fixed;
  top: 0;
  z-index: 100;
}
.Nav-container {
  @extend .absolute;
  z-index: 100;
  width: 100vw;
  height: $navbargap;
  background: $navbarcolor;
  padding: 0 2%;
  .image {
    margin-top: 10%;
    max-width: 100%;
  }
  .Nav-image-holder {
    width: 20%;
  }
  .Nav-menu-spread {
    display: none;
    @include tabtop {
      display: block;
      display: flex;
      .Nav-item {
        font-size: 1rem;
      }
    }
  }
  .Nav-menu,
  .Nav-burger {
    @include tabtop {
      display: none;
    }
  }
}
.Nav-item {
  transition: all 0.3s ease-in-out;
}
.Nav-menu {
  margin-top: -100px;
  height: 0vh;
  width: 100vw;
  background: $navbarcolor;
  flex-direction: column;
  transition: all 0.3s ease-in;
  .Nav-item {
    font-size: 1.5rem;
    height: 2.3rem;
  }
  @include tabtop {
    flex-direction: row;
  }
}
.Nav-item {
  color: white;
  padding: 0 1%;
  white-space: nowrap;
}

.Nav-menu-open {
  margin-top: 0;
  padding-top: $navbargap + 1em;
  height: 120vh;
}
