.Big-section {
  justify-content: space-between;

  .Section-number-holder {
    justify-content: center;
    @include tabtop {
      justify-content: flex-end;

      + .Section-text-holder {
        padding-right: 10%;
        margin-top: 20rem;
        .Section-text {
          max-width: 100%;
        }
      }
    }

    .Section-number {
      @extend .geo-bold;
      font-size: 15rem;
      padding: 0;
      // line-height: 5rem;
      margin: 0 0 -3.5rem 0;

      span {
        font-size: 8rem;
        margin-left: -0.5rem;
      }
    }
  }
}

.Section-title {
  font-size: 2em;
}
.Section-text {
  hyphens: none;
  font-size: 1.2rem;
  max-width: 70%;
  line-height: 30px;
  letter-spacing: 0.8px;
  text-align: justify;
  margin-bottom: 4rem;

  h4 {
    @extend .geo-bold-italics;
    font-size: 1.2rem;
    text-align: right;
    margin-bottom: 1.5rem;
  }
}
.Products-fish-holder {
  margin: 10rem 0;
  @include tabtop {
    margin: inherit;
  }
}

.Products-fish {
  display: flex;
  flex-direction: column;
  padding: 0 25%;
  .image {
    margin-bottom: 2.5rem;
  }
  .Products-text {
    .image {
      margin: 0 0 -20px 0;
    }
  }
  @include tabtop {
    .Products-fish-square {
      margin-right: 10px;
      .Products-text {
        opacity: 0;
        transition: all 0.3s ease-in-out;
        margin-bottom: -1em;
        .image {
          margin: 0;
          height: auto;
        }
      }
      &:hover .Products-text {
        opacity: 1;
      }
    }
    padding: 0 10%;
    flex-direction: row;
    padding: auto;
    .image {
      height: auto;
      margin: auto;
    }
  }
}
.Big-section-1 {
  background: $ottercolor;
}
.Big-section-2 {
  background: $cockatoocolor;
}
.Big-section-3 {
  background: $ottercolor;
}
.Big-section-4 {
  background: $poppycolor;
}
.Big-section-8 {
  background: $fuschiacolor;
}
.Big-section-6 {
  background: $libertycolor;
}
.Big-section-7 {
  background: $tigercolor;
}
.Big-section-9 {
  background: $calypsocolor;
}
.Big-section-10 {
  background: $greycolor;
}
.Big-section-11 {
  background: $greenflash;
}
.Big-section-5 {
  background: white;
  .content {
    max-width: 200px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    @include tablet {
      flex-direction: row;
    }
    @include desktop {
      flex-direction: row;
    }
  }
}
