$dandelioncolor: #ffc702;
$cockatoocolor: #5ad0ba;
$libertycolor: #4D448A;
$fuschiacolor: #c3447a;
$tigercolor: #e15d44;
$poppycolor: #f32e37;
$greycolor: #87857d;
$otter: #573b30;
$greenflash: #71CC51;
//
$navbargap: 6em;
$navbarcolor: $greycolor;
