.Products-animation {
  transform: rotate(2turn) translateX(0) !important;
}
.Products,
.Products-roll {
  -webkit-transition: all 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
  transition: all 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}
.Products-roll {
  transform: translateX(-1000%);
}
.Tracking-fade-in {
  opacity: 0;
}
.zindex {
  z-index: 50;
}
