.Products-animation {
  @include transform(rotate(2turn) translateX(0) !important);
}
.Products,
.Products-roll {
  @include transition(all 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s);
}
.Products-roll {
  @include transform(translateX(-1000%));
}
.Tracking-fade-in {
  opacity: 0;
  margin-bottom: 5rem;
}
.zindex {
  z-index: 50;
}

.Ribbons-container {
  height: 10.5rem;
  margin: 0;
  .Ribbons {
    height: 5.2rem;
    &-holder {
    }
    &-right {
      @include transform(scaleX(-1));
    }
  }
}
