.Farm-container {
  align-items: center;
}
.Content-media {
  align-items: center;
  @include tabtop {
    width: 100vw;
  }
}
.Content-info-holder {
  justify-content: center;
  .Content-logo-holder {
    flex: 1;
    margin-bottom: 1rem;
  }
  .Content-info {
    align-items: center;
    &:first-child {
      max-width: 80%;
      @include tabtop {
        max-width: 60%;
      }
    }
  }

  @include tabtop {
    padding-top: 3rem;
    padding: 3rem 4rem;

    .Content-info {
      flex: 2;
      align-items: initial;
    }
  }
  h1 {
    font-size: 2rem;
    line-height: 2.2rem;
    margin-bottom: 1rem;
    @extend .geo-bold-italics;
  }
  p {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
}
.Genetics-container {
  @include tabtop {
    .space-10 {
      margin-bottom: 0 !important;
    }
  }
}
.Content-image-title {
  .Content-holder {
    img {
      width: 100%;
    }
    h4 {
      font-size: 1.2rem;
    }
  }
  @include tabtop {
    justify-content: center;
    padding: 0 15%;
    .Content-holder {
      padding: 0 1%;
      img {
        // height: 100%;
        width: initial;
      }
    }
  }
}
