* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  &:link,
  &:hover,
  &:visited {
    color: inherit;
    text-decoration: none;
  }
}
ul {
  li {
    list-style: none;
  }
}

.border {
  border: solid 1px black;
}
.image {
  max-width: 100%;
  height: auto;
}
html,
#root,
body {
  @extend .geo-light;
  height: 100%;
  overflow-x: hidden !important;
  display: flex;
  font-size: 62.5%;
  width: 100vw;
  background: $whitebg;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @extend .geo-bold;
}
img {
  border-radius: 2px;
}
.vh {
  min-height: 100vh;
}
.w-vw {
  width: 100vw;
}

.flex-column {
  @extend .flex;
  flex-direction: column;
}
.flex {
  display: flex;
}
.flex-1 {
  flex: 1;
}
.flex-space-between {
  justify-content: space-between;
}
.flex-center-vertical {
  align-items: center;
}
.flex-center-horizontal {
  justify-content: center;
}
.flex-content-center {
  @extend .flex;
  justify-content: center;
  align-items: center;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  @include transform(translate(-50%, -50%));
}
.mw-100 {
  max-width: 100%;
}
.w-100 {
  width: 100%;
}
.logo {
  @extend .mw-100;
}
.space-10 {
  margin: 7em 0;
  @include desktop {
    margin: 9em 0;
  }
  @include tablet {
    margin: 8em 0;
  }
}
.collapse-row-column {
  display: flex;
  flex-direction: column;

  @include tabtop {
    flex-direction: row;
  }
  &-tab {
    flex-direction: column;
    @include desktop {
      flex-direction: row;
    }
  }
}
.text-white {
  color: white !important;
}
.text-black {
  color: black !important;
}
.opacity-1 {
  opacity: 1 !important;
}
.opacity-0 {
  opacity: 0 !important;
}
.opacity-0-non {
  opacity: 0;
}
.opacity-5 {
  opacity: 0.5 !important;
}
.none {
  display: none;
}
.hidden {
  visibility: hidden !important;
}

.Research-container,
.Products-container,
.Farm-container,
.Genetics-container,
.Eat-fish-container {
  min-height: 100vh;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background: $whitebg;
  position: relative;
}
.media-video-holder {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  width: 100%;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.trademark-symbol {
  position: absolute;
  font-size: 1.5rem;
  top: 1rem;
}
.light-shadow-round {
  border-radius: 100%;
  box-shadow: 0rem 0.5rem 2rem rgba(0, 0, 0, 0.267);
}
.light-shadow-square {
  // border-radius: 100%;
  box-shadow: 0rem 0.5rem 2rem rgba(0, 0, 0, 0.267);
}
.text-shadow-light {
  text-shadow: 0rem 0.5rem 2rem rgba(0, 0, 0, 0.267);
}
.full-size-img.image {
  width: 100%;
}
