.Header-band {
  @extend .mw-100;
  border-bottom: solid 5px black;
}
.Header-section {
  @extend .geo-light;
  background-color: $dandelioncolor;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 10% 0 10%;
  height: 130vh;
  .logo {
    .image {
      max-width: auto;
      height: 100%;
      width: 100%;
    }
    @include tabtop {
      width: 100%;
      .image {
        max-width: 100%;
        height: 100%;
        width: 80em;
      }
    }
  }
  h1 {
    @extend .geo-thin;
    color: white;
    font-size: 2.6rem;
    text-align: center;
    letter-spacing: 2px;
    @include tabtop {
      font-size: 6rem;
      text-align: center;
      letter-spacing: 2px;
    }
    span {
     
      white-space: nowrap;
    }
  }
  .absolute {
    width: 100%;
    bottom: 0;
    left: 50%;
    height: 50%;
    @include transform(translate(-50%, 0));
  }
}
