.Header-band {
  @extend .mw-100;
  border-bottom: solid 5px black;
}
.Header-section {
  @extend .geo-light;
  background-color: $tigercolor;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;

  .image {
    max-width: auto;
    height: 100%;
    width: 60%;

    @include tabtop {
      max-width: 100%;
    }
  }
  .tagline{
    width: 88%;
    @include transform(translate(-50%, -30%));
  }

}
