.Header-band {
  @extend .mw-100;
  border-bottom: solid 5px black;
}
.Header-section {
  @extend .geo-light;
  background-color: $tigercolor;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;

  .image {
    max-width: auto;
    height: 100%;
    width: 60%;

    @include tabtop {
      max-width: 100%;
    }
  }
  h1 {
    @extend .geo-book;
    color: white;
    font-size: 5vw;
    text-align: center;
    letter-spacing: 2px;
    width: 100%;
    @include transform(translate(-50%, 200%));
    @include tabtop {
      text-align: center;
      letter-spacing: 2px;
    }
    span {
      @extend .geo-thin;
    }
  }
  .absolute {
    width: 100%;
    bottom: initial;
    left: 50%;
    height: 50%;
    @include transform(translate(-50%, 0));
  }
}
