header {
  @extend .fixed;
  top: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0);
  height: $navbargap;
  width: 100%;
  display: flex;
  .Navbar-container {
    flex: 1;
    position: relative;
    > a {
      position: absolute;
      width: 8vw;
      top: 8vh;
      z-index: 51;
      @include transform(translateY(-50%));
      &.Nav-logo {
        left: 3vw;
      }
      &.Nav-burger {
        width: 6vw;
        right: 3vw;
      }
    }

    nav {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      z-index: 50;
      opacity: 0;
      top: 100%;
      left: 100%;
      @include transition(opacity 0.3s ease-in-out 0.3s);
      .Nav-item {
        @include transform(
          rotate(-10deg) rotateX(65deg) translate3d(60px, 50px, 0)
        );
        opacity: 0;
        @include transition(all 0.7s ease-in-out);
      }
      &.Nav-open {
        left: initial;
        top: 7rem;
        right: 10% !important;
        z-index: 50;
        opacity: 1;
        .Nav-item {
          opacity: 1;
          @include transform(translate(0, 0));
        }
        @include tabtop {
          top: 20rem;
        }
      }
      &.Nav-closed {
        left: initial;
        top: 7rem;
        right: 10% !important;
        z-index: 50;
        opacity: 1;
      }
      li {
        @extend .geo-bold;
        font-size: 2.2rem;
        text-align: right;
        color: white;
        @include transition(all 0.7s ease-in-out);
        &:before {
          content: ".";
        }
        @include tabtop {
          font-size: 7rem;
          line-height: 6.5rem;
          letter-spacing: 2px;
        }
      }
    }
    .Nav-menu {
      z-index: 50;
      position: absolute;
      top: -15%;
      right: -3%;
      background: $arubacolor;
      border-radius: 50%;
      height: 5rem;
      width: 5rem;
      @include transition((all 0.7s ease-in));
      &.Nav-open {
        @include transform(scale(100));
      }
      &.Nav-closed {
        @include transform(scale(0));
      }
    }
  }
}
