.Big-section {
  justify-content: space-between;
  position: relative;

  .Section-text-holder {
    p {
      text-align: left;
    }
    .Section-text {
      max-width: 50%;
    }
    .Section-text {
      font-size: 1.2rem;
      margin-bottom: 2rem;
      line-height: 2rem;
      p {
        margin-bottom: 1rem;
      }
    }
    .Section-left {
      text-align: right;
      @extend .geo-bold;
      font-size: 4.4rem;
      padding-right: 3rem;
      line-height: 3.4rem;
      span {
        @extend .geo-bold-italics;
      }
    }
    @include mobile {
      &.collapse-row-column {
        align-items: center;
        text-align: center;
        .Section-left {
          margin-bottom: 2rem;
          font-size: 2.5rem;
          padding: 0;
          line-height: 2rem;
        }
        .Section-text {
          font-size: 1.1rem;
        }
        .Section-left {
          max-width: 100%;
        }
        .Section-text {
          max-width: 75%;
        }
      }
    }
    @include tabtop {
      .Section-text {
        margin-bottom: 10rem;
        p {
          padding-right: 8rem;
        }
      }
    }
  }
  @include tabtop {
    .Section-text-holder {
      .Section-text {
        @include transform(translate(200%, 200%));
        opacity: 0;
        &.Section-animation {
          opacity: 1;
          @include transform(translate(0, 10rem));
        }
      }
      .Section-left {
        @include transform(translate(-200%, 200%));
        opacity: 0;
        &.Section-animation {
          opacity: 1;
          @include transform(translate(0, 0px));
        }
      }

      .Section-left,
      .Section-text {
        @include transition(all 0.7s ease-in-out);
      }
    }
  }
}

.Section-title {
  font-size: 2em;
}

#Products {
  .space-10 {
    margin: 4rem 0;
  }
}
.Products-fish-holder {
  margin: 5rem 0;
  .Section-text-holder {
    justify-content: center;
  }
  @include tabtop {
    margin: 10rem 0;
    margin: initial;
  }
}
.Products-caption {
  color: black !important;
  hyphens: none;
  letter-spacing: 0.8px;
  flex: 1 1;
  font-size: 1.1rem;
  max-width: 70%;
  margin-bottom: 2rem;
  p {
    margin-bottom: 2rem;
  }
  @include mobile {
    text-align: center;
    max-width: 75%;
    &.flex.flex-column {
      display: block;
    }
  }
  @include tabtop {
    margin-bottom: 5rem;
    text-align: justify;
    max-width: 60% !important;
    line-height: 2rem;
  }
}
.Products-fish {
  display: flex;
  flex-direction: column;
  padding: 0 25%;
  .image {
    margin-bottom: 2.5rem;
  }
  .Products-text {
    .image {
      margin: 0 0 -2rem 0;
    }
  }
  @include tabtop {
    justify-content: space-evenly;
    width: $productscirclewidth;
    padding: 0 0% !important;
    margin-top: -6rem;
    flex-direction: row;
    .image {
      height: auto;
      margin: auto;
    }
    .Products-fish-square {
      margin-right: 1rem;
      &:nth-of-type(7) {
        margin: 0 0 0 1rem;
      }
      .Products-text {
        opacity: 0;
        @include transition(all 0.3s ease-in-out);
        margin-bottom: -1rem;
        .image {
          margin: 0;
          height: auto;
        }
      }
      &:hover .Products-text {
        opacity: 1;
      }
    }
  }
}
.Big-section-1 {
  background: $atollcolor;
}
.Big-section-6 {
  background: $festivecolor;
}
.Big-section-3 {
  background: $poppycolor;
}
.Big-section-9 {
  background: linear-gradient(
    to bottom right,
    #210420,
    #490847,
    #620c5f,
    #620c5f,
    #770574,
    #9b0096
  );
}
.Big-section-8 {
  background: linear-gradient(
    to bottom right,
    #f79d04,
    #f79d04,
    #f79d04,
    #f7aa04,
    #ffb30f,
    #f7ba04,
    #ffc31c,
    #f7c604,
    #f7c604
  );
}
.Big-section-7,
.Big-section-10 {
  background-size: cover;
  height: 50vh;
}
.Big-section-5 {
  background: $pinkcolor;
}
.Big-section-10 {
}
.Big-section-11 {
  background: linear-gradient(
    to bottom right,
    #1b7a06,
    #21af01,
    #24b500,
    #28c900,
    #28c900,
    #33ef09,
    #9ce881
  );
}
.Big-section-2 {
  background: white;
  .space-10 {
    @include mobile {
      margin: initial !important;
    }
  }

  .content {
    max-width: 200px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    @include tablet {
      flex-direction: row;
    }
    @include desktop {
      flex-direction: row;
    }
  }
}

#About,
#Farm,
#Products,
#RD,
#Recipes,
#Eat-fish,
#Contact,
#Sustainability {
  &:before {
    content: "";
    display: block;
    height: $navbargap;
    margin-top: -$navbargap;
  }
}

.School-emblem {
  @include transition(transform 0.3s ease-in-out);
  &:hover {
    @include transform(scale(1.05));
  }
}
.Eat-fish-tag-container {
  @include tabtop {
    justify-content: flex-end;
    padding:0 15%;
  }
  .Eat-fish-tag-icon {
    @include transform(scale(1.2));
    cursor: pointer;
  }
}
//
.Recipes-container {
  .Recipes-icon-holder {
    justify-content: center;
    align-items: center;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    @include tabtop {
      padding: 3% 0;
      .image {
        width: 40%;
      }
    }
  }
  .Recipes-content-container {
    justify-content: space-between;
    .Recipes-caption {
      justify-content: center;
      margin-top: 5rem;
      text-align: center;
    }
    .Recipes-image-holder {
      overflow: hidden;
      &:hover .image {
        @include transform(scale(1.02));
      }
      .image {
        width: 100%;
        @include transform(scale(1));
        @include transition(all 0.6s ease-in-out);
      }
    }
    @include tabtop {
      .Recipes-caption {
        padding-left: 5%;
        margin-top: 20rem;
        text-align: initial;
      }
      .Recipes-image-holder {
        order: -1;
        flex: 1.2;
        padding: 10rem 0 0 3%;
        &:hover .image {
          @include transform(scale(1.02));
        }
        .image {
          width: 100%;
          @include transform(scale(1));
          @include transition(all 0.6s ease-in-out);
        }
      }
    }
  }
}
