.Pop-holder {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2000;

  .Pop {
    height: 0;
    width: 0;
    background: $arubacolor;
    transition: all 0.3s ease-in-out;
    border-radius: 50%;
  }
}
.Pop-holder-appear {
  .Pop-animation {
    height: 1vh;
    width: 1vh;
    transform: scale(250);
  }
}

.swoop-exit-active {
  position: fixed !important;
  z-index: 10 !important;
}
