.Pop-holder {
  position: fixed;
  top: 50%;
  left: 50%;
  @include transform(translate(-50%, -50%));
  z-index: -1;
  &.animation {
    z-index: 2000;
    .Pop {
      animation: pop 1.15s ease-in-out;
    }
  }
  .Pop {
    position: relative;
    height: 1vh;
    width: 1vh;
    background: $arubacolor;
    border-radius: 50%;
    .image {
      position: absolute;
      top: 50%;
      left: 50%;
      @include transform(translate(-50%, -50%));
      width: 0.2vw;
    }
  }
}
.Pop-holder-appear {
  display: block;
  .Pop-animation {
    height: 1vh;
    width: 1vh;
    transform: scale(100);
    .image {
    }
  }
}
@keyframes pop {
  0% {
    @include transform(translate(-50%, -50%) scale(1));
  }
  25% {
    @include transform(translate(-50%, -50%) scale(220));
  }
  75% {
    @include transform(translate(-50%, -50%) scale(220));
  }
  99% {
    @include transform(translate(-50%, -50%) scale(5));
  }
  100% {
    display: none;
  }
}
.swoop-exit-active {
  position: fixed !important;
  z-index: 10 !important;
}

.Landing-animation-holder {
  z-index: 1000;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: $poppycolor;
  display: flex;
  &.animate {
    background: rgba(0, 0, 0, 0);
  }
  &.finish {
    display: none;
  }
  > div {
    position: relative;
    flex: 1;
    .Landing-animation {
      position: absolute;
      left: 50%;
      top: 50%;
      height: 0rem;
      width: 0rem;
      background: white;
      border-radius: 50%;
      @include transform(translate(-50%, -50%));
      animation: landinganimation 8s ease-in-out;
      @include mobile {
        animation: mobileanimation 8s ease-in-out;
      }
      .image {
        &.animate {
          display: none;
        }
      }
    }
    .Landing-dot {
      position: absolute;
      left: 50%;
      top: 95%;
      height: 2rem;
      width: 2rem;
      background: white;
      border-radius: 50%;
      @include transform(translate(-50%, -50%));
      &.animate {
        display: none;
      }
    }
    h1 {
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 5vw;
      width: 100%;
      text-align: center;
      @include transform(translate(-50%, -50%));
      span {
        color: $poppycolor;
        display: inline-block;
        @include transform(
          rotate(-10deg) rotateX(90deg) translate3d(-60px, 50px, -50px)
        );
        @include transition(all 1s cubic-bezier(0.165, 0.84, 0.44, 1));
        opacity: 0;
      }
      &.animate {
        span {
          @include transform(translate(0, 0));
          opacity: 1;
        }
      }
    }
  }
}

@keyframes landinganimation {
  0% {
  }
  20% {
    height: 5rem;
    width: 5rem;
    top: 50%;
  }
  25% {
    height: 2rem;
    width: 2rem;
    top: 95%;
    @include transform(translate(-50%, -50%));
  }
  35% {
    height: 5rem;
    width: 5rem;
    top: 95%;
    left: 50%;
    @include transform(translate(-50%, -50%) scale(100));
  }
  60% {
    background: white;
    height: 5rem;
    width: 5rem;
    top: 4vh;
    left: 3vw;
    @include transform(translate(-50%, -50%) scale(100));
  }
  65% {
    opacity: 1;
  }
  75% {
    height: 2rem;
    width: 2rem;
    top: 4vh;
    left: 3vw;
    opacity: 0;
    display: initial;
    @include transform(translate(0, 0));
  }
  100% {
    height: 0rem;
    width: 0rem;
    top: 4vh;
    left: 3vw;
    opacity: 0;
    display: none;
    @include transform(translate(0, 0));
  }
}

@keyframes mobileanimation {
  0% {
    height: 2rem;
    width: 2rem;
    top: 50%;
    left: 50%;
  }
  20% {
    height: 2rem;
    width: 2rem;
    top: 50%;
    left: 50%;
  }
  25% {
    height: 2rem;
    width: 2rem;
    top: 95%;
    left: 50%;
    @include transform(translate(-50%, -50%));
  }
  35% {
    height: 2rem;
    width: 2rem;
    top: 95%;
    left: 50%;
    @include transform(translate(-50%, -50%) scale(100));
  }
  60% {
    background: white;
    height: 2rem;
    width: 2rem;
    top: 4vh;
    left: 3vw;
    @include transform(translate(-50%, -50%) scale(100));
  }
  65% {
    opacity: 1;
  }
  75% {
    height: 2rem;
    width: 2rem;
    top: 4vh;
    left: 3vw;
    opacity: 0;
    display: initial;
    @include transform(translate(0, 0));
  }
  100% {
    height: 0rem;
    width: 0rem;
    top: 4vh;
    left: 3vw;
    opacity: 0;
    display: none;
    @include transform(translate(0, 0));
  }
}
