.swoop-enter {
  position: fixed;
  z-index: 10;
  top: 100vh;
}
.swoop-enter.swoop-enter-active,
.swoop-enter-done {
  top: -$navbargap;
  z-index: 10;
  transition: all 0.3s ease-in;
}

.swoop-exit.swoop-exit-active {
  z-index: 1;
  opacity: 0;
  transition: opacity .5s ease-in;
}
.swoop-exit-done {
  z-index: -1;
  opacity: 0;
}
.wave {
  width: 100%;
  margin: -100% 0 -2% 0;
  // transition: all .5s ease-in;
}
