$dandelioncolor: #ffc702;
$cockatoocolor: #5ad0ba;
$libertycolor: #4d448a;
$fuschiacolor: #c3447a;
$tigercolor: #e15d44;
$poppycolor: #f32e37;
$greycolor: #87857d;
$ottercolor: #573b30;
$greenflash: #9ce881;
$calypsocolor: #ec5d73;
$redstonecolor: #d43c2c;
$arubacolor: #85dbd7;
$crushedberriescolor: #b5457c;
$daphnecolor: #16639f;
$festivecolor: #ea5924;
$hibiscuscolor: #e3c93a;
$pinkcolor: #ff2882;
$purplecolor: #620c5f;
$sunflowercolor: #ffc31c;
$whitebg: white;
// $whitebg: rgba(240, 240, 240, 1);
//
$navbargap: 6.5em;
$navbarcolor: $arubacolor;
$productscirclewidth: 70%;
