.Wa-container {
  @extend .relative;
  height: 36rem;
  white-space: nowrap;
  @include tabtop {
    height: 50rem;
    // margin-bottom: 2.5rem;
  }
  @include tabtop{
    h3{
      font-size: 5rem;
      line-height: 13rem !important;
    }
  }
  h3 {
    @extend .absolute;
    font-size: 3rem;
    line-height: 4.5rem;
    margin-bottom: 0;
    span {
      display: block;
      @include transform(translateX(32.5%));
    }
    // right: 200%;
    @include transition(all 0.5s ease-in-out 0.5s);
    @include tablet {
      font-size: 5rem;
      line-height: 13rem !important;
      span {
        display: block;
        @include transform(translateX(32.5%));
      }
    }
  }

  .Wa {
    &-title-mid {
    }
    &-title {
      @extend .geo-ultra;
      @extend .absolute;
      font-size: 6rem;
      top: 30%;

      @include transform(translateX(-50%));
      @include transition(all 2.5s ease-in-out);
    }
    &-title-fade {
      opacity: 0;
    }

    &-0 {
      right: 18% !important;
      @extend .geo-thin;
    }
    &-1 {
      right: 19% !important;
      @extend .geo-light;
    }
    &-2 {
      right: 46% !important;
      @extend .geo-bold;
    }
    &-3 {
      right: 9% !important;
    }
    &-4 {
      right: 0% !important;
      @extend .geo-thin;
    }
    &-5 {
      right: 32% !important;
    }
    &-6 {
      right: 6% !important;
      @extend .geo-bold;
    }
    &-7 {
      right: 38% !important;
      @extend .geo-light;
    }
    &-8 {
      right: 0% !important;
      @extend .geo-thin;
    }
    &-9 {
      right: 43% !important;
      @extend .geo-bold;
    }
    &-10 {
      right: 39% !important;
      @extend .geo-bold;
    }
    &-11 {
      right: 18% !important;
      @extend .geo-light;
    }
    &-12 {
      right: 0% !important;
    }
    &-13 {
      right: 23% !important;
      @extend .geo-thin;
    }
    &-14 {
      right: 1% !important;
    }
  }

  @include tablet {
    h3 {
      font-size: 5.5rem;
    }
    .Wa {
      &-title {
        font-size: 11rem;
      }

      //
      &-0 {
        right: 40% !important;
      }
      &-1 {
        right: 18% !important;
      }
      &-2 {
        right: 46% !important;
      }
      &-3 {
        right: 30% !important;
      }
      &-4 {
        right: 0% !important;
      }
      &-5 {
        right: 32% !important;
      }
      &-6 {
        right: 6% !important;
      }
      &-7 {
        right: 38% !important;
      }
      &-8 {
        right: 0% !important;
      }
      &-9 {
        right: 59% !important;
      }
      &-10 {
        right: 39% !important;
      }
      &-11 {
        right: 11% !important;
      }
      &-12 {
        right: 0% !important;
      }
      &-13 {
        right: 23% !important;
      }
      &-14 {
        right: 1% !important;
      }
    }
  }
  @include desktop {
    h3 {
      font-size: 5rem;
    }
    .Wa {
      &-title {
        font-size: 18rem;
      }
      &-0 {
        right: 40% !important;
      }
      &-1 {
        right: 18% !important;
      }
      &-2 {
        right: 75% !important;
      }
      &-3 {
        right: 46% !important;
      }
      &-4 {
        right: 5% !important;
      }
      &-5 {
        right: 54% !important;
      }
      &-6 {
        right: 6% !important;
      }
      &-7 {
        right: 64% !important;
      }
      &-8 {
        right: 25% !important;
      }
      &-9 {
        right: 59% !important;
      }
      &-10 {
        right: 39% !important;
      }
      &-11 {
        right: 70% !important;
      }
      &-12 {
        right: 10% !important;
      }
      &-13 {
        right: 43% !important;
      }
      &-14 {
        right: 1% !important;
      }
    }
  }
}
