.Wa-container {
  @extend .relative;
  white-space: nowrap;
  // @include tabtop {
  //   h3 {
  //     font-size: 5rem;
  //     line-height: 13rem !important;
  //   }
  // }
  h3 {
    @extend .absolute;
    margin-bottom: 0;
    @include transition(all 0.5s ease-in-out 0.5s);
    span {
      display: block;
      @include transform(translateX(32.5%));
    }
    @include desktop {
      span {
        display: block;
        @include transform(translateX(32.5%));
      }
    }
  }
  .Wa {
    &-text {
      font-size: 1rem;
    }
    &-title-mid {
    }
    &-title {
      @extend .geo-ultra;
      @extend .absolute;
      font-size: 6rem;
      top: 30%;
      line-height: 4.5rem;
      @include transform(translateX(-50%));
      @include transition(all 2.5s ease-in-out);
      @include tablet {
        line-height: 11rem !important;
      }
      @include desktop {
        line-height: 13rem !important;
      }
    }
    &-title-fade {
      color: $greycolor;
    }
    @for $i from 0 through 28 {
      &-#{$i} {
        left: 50% !important;
        @include transform(translateX(-50%) !important);
      }
    }
    &-0 {
      @extend .geo-thin;
    }
    &-1 {
      @extend .geo-light;
    }
    &-2 {
      @extend .geo-bold;
    }
    &-3 {
    }
    &-4 {
      @extend .geo-thin;
    }
    &-5 {
    }
    &-6 {
      @extend .geo-bold;
    }
    &-7 {
      @extend .geo-light;
    }
    &-8 {
      @extend .geo-thin;
    }
    &-9 {
      @extend .geo-bold;
    }
    &-10 {
      @extend .geo-bold;
    }
    &-11 {
      @extend .geo-thin;
    }
    &-12 {
    }
    &-13 {
      @extend .geo-thin;
    }
    &-14 {
      @extend .geo-thin;
    }
  }
  @include tabtop {
    @for $i from 0 through 14 {
      .Wa-#{$i} {
        @include transform(initial !important);
      }
    }
  }
  @include tabtop {
    h3 {
      font-size: 5.5rem;
    }
    .Wa {
      &-text {
        font-size: 4.8rem;
      }
      &-title {
        font-size: 15rem;
      }
      &-0 {
        left: 25% !important;
      }
      &-1 {
        left: 40% !important;
      }
      &-2 {
        left: 20% !important;
      }
      &-3 {
        left: 56% !important;
      }
      &-4 {
        left: 7% !important;
      }
      &-5 {
        left: 30% !important;
      }
      &-6 {
        left: 6% !important;
      }
      &-7 {
        left: 30% !important;
      }
      &-8 {
        left: 20% !important;
      }
      &-9 {
        left: 17% !important;
      }
      &-10 {
        left: 50% !important;
      }
      &-11 {
        left: 2% !important;
      }
      &-12 {
        left: 10% !important;
      }
      &-13 {
        left: 59% !important;
      }
      &-14 {
        left: 25% !important;
      }
    }
  }
  @include desktop {
    h3 {
      font-size: 5rem;
    }
    .Wa {
      &-text {
        font-size: 4.8rem;
      }
      &-title {
        font-size: 18rem;
      }
      &-0 {
        left: 25% !important;
      }
      &-1 {
        left: 53% !important;
      }
      &-2 {
        left: 16% !important;
      }
      &-3 {
        left: 56% !important;
      }
      &-4 {
        left: 7% !important;
      }
      &-5 {
        left: 21% !important;
      }
      &-6 {
        left: 6% !important;
      }
      &-7 {
        left: 51% !important;
      }
      &-8 {
        left: 20% !important;
      }
      &-9 {
        left: 17% !important;
      }
      &-10 {
        left: 67% !important;
      }
      &-11 {
        left: 2% !important;
      }
      &-12 {
        left: 39% !important;
      }
      &-13 {
        left: 67% !important;
      }
      &-14 {
        left: 25% !important;
      }
    }
  }
}
[class*="Wa-bricks"] {
  opacity: 1;
}
.Sub-header-section {
  // padding: 3rem;
}
