@font-face {
  font-family: "geomanist-bold";
  src: url("../../assets/fonts/Geomanist-Bold/geomanist-bold-webfont.eot");
  src: url("../../assets/fonts/Geomanist-Bold/geomanist-bold-webfont.woff") format("woff"), url("../../assets/fonts/Geomanist-Bold/geomanist-bold-webfont.woff2") format("woff2"), url("../../assets/fonts/Geomanist-Bold/geomanist-bold-webfont.svg#filename") format("svg"); }
@font-face {
  font-family: "geomanist-thin";
  src: url("../../assets/fonts/Geomanist-Thin/geomanist-thin-webfont.eot");
  src: url("../../assets/fonts/Geomanist-Thin/geomanist-thin-webfont.woff") format("woff"), url("../../assets/fonts/Geomanist-Thin/geomanist-thin-webfont.woff2") format("woff2"), url("../../assets/fonts/Geomanist-Thin/geomanist-thin-webfont.svg#filename") format("svg"); }
@font-face {
  font-family: "geomanist-bold-italics";
  src: url("../../assets/fonts/Geomanist-Bold-Italic/geomanist-bold-italic-webfont.eot");
  src: url("../../assets/fonts/Geomanist-Bold-Italic/geomanist-bold-italic-webfont.woff") format("woff"), url("../../assets/fonts/Geomanist-Bold-Italic/geomanist-bold-italic-webfont.woff2") format("woff2"), url("../../assets/fonts/Geomanist-Bold-Italic/geomanist-bold-italic-webfont.svg#filename") format("svg"); }
@font-face {
  font-family: "geomanist-ultra";
  src: url("../../assets/fonts/Geomanist-Ultra/geomanist-ultra-webfont.eot");
  src: url("../../assets/fonts/Geomanist-Ultra/geomanist-ultra-webfont.woff") format("woff"), url("../../assets/fonts/Geomanist-Ultra/geomanist-ultra-webfont.woff2") format("woff2"), url("../../assets/fonts/Geomanist-Ultra/geomanist-ultra-webfont.svg#filename") format("svg"); }
@font-face {
  font-family: "geomanist-light";
  src: url("../../assets/fonts/Geomanist-Light/geomanist-light-webfont.eot");
  src: url("../../assets/fonts/Geomanist-Light/geomanist-light-webfont.woff") format("woff"), url("../../assets/fonts/Geomanist-Light/geomanist-light-webfont.woff2") format("woff2"), url("../../assets/fonts/Geomanist-Light/geomanist-light-webfont.svg#filename") format("svg"); }
.geo-light, #root,
body, .Header-section, .Wa-container .Wa-title, .Wa-container .Wa-1, .Wa-container .Wa-7, .Wa-container .Wa-11 {
  font-family: "geomanist-light", Arial, Helvetica, sans-serif; }

.geo-ultra {
  font-family: "geomanist-ultra", Arial, Helvetica, sans-serif; }

.geo-bold-italics, .Section-text h4 {
  font-family: "geomanist-bold-italics", Arial, Helvetica, sans-serif; }

.geo-bold, h1,
h2,
h3,
h4,
h5,
h6, .Big-section .Section-number-holder .Section-number, .Wa-container .Wa-2, .Wa-container .Wa-6, .Wa-container .Wa-9, .Wa-container .Wa-10 {
  font-family: "geomanist-bold", Arial, Helvetica, sans-serif; }

.geo-thin, .Wa-container .Wa-0, .Wa-container .Wa-4, .Wa-container .Wa-8, .Wa-container .Wa-13 {
  font-family: "geomanist-thin", Arial, Helvetica, sans-serif; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a:link, a:hover, a:visited {
  color: inherit;
  text-decoration: none; }

ul li {
  list-style: none; }

.border {
  border: solid 1px black; }

.image {
  max-width: 100%; }

#root,
body {
  overflow-x: hidden !important;
  display: flex;
  font-size: 62.5%;
  width: 100vw; }

.App {
  padding-top: 6.5em; }

main {
  width: 100vw; }

.vh {
  min-height: 100vh; }

.w-vw {
  width: 100vw; }

.flex-column {
  flex-direction: column; }

.flex, .flex-column, .flex-content-center {
  display: flex; }

.flex-1 {
  flex: 1; }

.flex-space-between {
  justify-content: space-between; }

.flex-center-vertical {
  align-items: center; }

.flex-center-horizontal {
  justify-content: center; }

.flex-content-center {
  justify-content: center;
  align-items: center; }

.relative, .Wa-container {
  position: relative; }

.absolute, .Nav-container, .Wa-container h3, .Wa-container .Wa-title {
  position: absolute; }

.fixed, header {
  position: fixed; }

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.mw-100, .logo, .Header-band {
  max-width: 100%; }

.w-100 {
  width: 100%; }

.space-10 {
  margin: 7em 0; }
  @media only screen and (min-width: 990px) {
    .space-10 {
      margin: 9em 0; } }
  @media only screen and (min-width: 661px) and (max-width: 989px) {
    .space-10 {
      margin: 8em 0; } }

.collapse-row-column {
  display: flex;
  flex-direction: column; }
  @media only screen and (min-width: 661px) {
    .collapse-row-column {
      flex-direction: row; } }

.text-white {
  color: white; }

.text-black {
  color: black; }

.opacity-0 {
  opacity: 0 !important; }

.hidden {
  visibility: hidden !important; }

.swoop-enter {
  position: fixed;
  z-index: 10;
  top: 100vh; }

.swoop-enter.swoop-enter-active,
.swoop-enter-done {
  top: 0;
  z-index: 10;
  transition: all 5s ease-in; }

.swoop-exit.swoop-exit-active {
  z-index: 1;
  opacity: 0;
  transition: opacity 4.5s ease-in; }

.swoop-exit-done {
  z-index: -1;
  opacity: 0; }

.wave {
  width: 100%;
  margin: 0 0 -2% 0; }

header {
  top: 0;
  z-index: 100;
  background: #85dbd7; }

.Nav-container {
  z-index: 100;
  width: 100%;
  height: 6.5em;
  background: #85dbd7;
  padding: 0 4%; }
  .Nav-container .image {
    margin-top: 10%;
    max-width: 100%; }
  .Nav-container .Nav-image-holder {
    width: 15%; }
    @media only screen and (min-width: 990px) {
      .Nav-container .Nav-image-holder {
        width: 10%; } }
  .Nav-container .Nav-menu-spread {
    display: none; }
    @media only screen and (min-width: 990px) {
      .Nav-container .Nav-menu-spread {
        justify-content: flex-end;
        display: block;
        display: flex; }
        .Nav-container .Nav-menu-spread .Nav-item {
          font-size: 1.2rem; } }
  @media only screen and (min-width: 990px) {
    .Nav-container .Nav-menu,
    .Nav-container .Nav-burger {
      display: none; } }

.Nav-burger {
  justify-content: flex-end; }
  .Nav-burger :first-child {
    height: 2.3rem;
    width: auto;
    padding: 0;
    margin: 0; }

.Nav-item {
  transition: all 0.3s ease-in-out; }

.Nav-menu {
  margin-top: -100px;
  height: 0vh;
  width: 100vw;
  background: #85dbd7;
  flex-direction: column;
  transition: height 0.3s ease-in, margin 0.3s ease-in, padding 0.3s ease-in; }
  .Nav-menu .Nav-item {
    font-size: 1.5rem;
    height: 2.3rem; }
  @media only screen and (min-width: 990px) {
    .Nav-menu {
      transition: initial;
      flex-direction: row; } }

.Nav-item {
  color: white;
  padding: 0 1.5%;
  white-space: nowrap;
  cursor: pointer; }

.Nav-menu-open {
  margin-top: 0;
  padding-top: 7.5em;
  height: 120vh; }

.Big-section {
  justify-content: space-between; }
  .Big-section .Section-number-holder {
    justify-content: center; }
    @media only screen and (min-width: 661px) {
      .Big-section .Section-number-holder {
        justify-content: center; }
        .Big-section .Section-number-holder + .Section-text-holder {
          padding-right: 10%;
          margin-top: 20rem; }
          .Big-section .Section-number-holder + .Section-text-holder .Section-text {
            max-width: 100%; } }
    .Big-section .Section-number-holder .Section-number {
      font-size: 15rem;
      padding: 0;
      margin: 0 0 -3.5rem 0; }
      .Big-section .Section-number-holder .Section-number span {
        font-size: 8rem;
        margin-left: -0.5rem; }
      @media only screen and (min-width: 661px) {
        .Big-section .Section-number-holder .Section-number {
          font-size: 25rem; }
          .Big-section .Section-number-holder .Section-number span {
            font-size: 20rem; } }

.Section-title {
  font-size: 2em; }

.Section-text {
  hyphens: none;
  font-size: 1.2rem;
  max-width: 70%;
  line-height: 30px;
  letter-spacing: 0.8px;
  text-align: auto;
  margin-bottom: 4rem; }
  .Section-text h4 {
    font-size: 1.2rem;
    text-align: right;
    margin-bottom: 1.5rem; }
    @media only screen and (min-width: 661px) {
      .Section-text h4 {
        font-size: 2.2rem; } }

.Products-fish-holder {
  margin: 10rem 0; }
  @media only screen and (min-width: 661px) {
    .Products-fish-holder {
      margin: inherit; } }

.Products-fish {
  display: flex;
  flex-direction: column;
  padding: 0 25%; }
  .Products-fish .image {
    margin-bottom: 2.5rem; }
  .Products-fish .Products-text .image {
    margin: 0 0 -20px 0; }
  @media only screen and (min-width: 661px) {
    .Products-fish {
      justify-content: space-evenly;
      width: 70%;
      padding: 0 0%;
      flex-direction: row;
      padding: auto; }
      .Products-fish .image {
        height: auto;
        margin: auto; }
      .Products-fish .Products-fish-square {
        margin-right: 1rem; }
        .Products-fish .Products-fish-square:nth-of-type(7) {
          margin: 0 0 0 1rem; }
        .Products-fish .Products-fish-square .Products-text {
          opacity: 0;
          transition: all 0.3s ease-in-out;
          margin-bottom: -1em; }
          .Products-fish .Products-fish-square .Products-text .image {
            margin: 0;
            height: auto; }
        .Products-fish .Products-fish-square:hover .Products-text {
          opacity: 1; } }

.Big-section-1 {
  background: #573b30; }

.Big-section-2 {
  background: #5ad0ba; }

.Big-section-3 {
  background: #573b30; }

.Big-section-4 {
  background: #f32e37; }

.Big-section-8 {
  background: #ea5924; }

.Big-section-6 {
  background: #16639f; }

.Big-section-7 {
  background: linear-gradient(to bottom right, #210420, #490847, #620c5f, #620c5f, #770574, #9b0096); }

.Big-section-9 {
  background: linear-gradient(to bottom right, #f79d04, #f79d04, #f79d04, #f7aa04, #ffb30f, #f7ba04, #ffc31c, #f7c604, #f7c604); }

.Big-section-10 {
  background: #ff2882; }

.Big-section-11 {
  background: linear-gradient(to bottom right, #1b7a06, #21af01, #24b500, #28c900, #28c900, #33ef09, #9ce881); }

.Big-section-5 {
  background: white; }
  .Big-section-5 .content {
    max-width: 200px;
    flex-wrap: wrap;
    justify-content: space-evenly; }
    @media only screen and (min-width: 661px) and (max-width: 989px) {
      .Big-section-5 .content {
        flex-direction: row; } }
    @media only screen and (min-width: 990px) {
      .Big-section-5 .content {
        flex-direction: row; } }

.printtest {
  flex: 1;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat !important; }

.Header-band {
  border-bottom: solid 5px black; }

.Header-section {
  background-color: #ffc702;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 10% 0 10%;
  height: 130vh; }
  .Header-section .logo .image {
    max-width: auto;
    height: 100%;
    width: 100%; }
  @media only screen and (min-width: 661px) {
    .Header-section .logo {
      width: 100%; }
      .Header-section .logo .image {
        max-width: 100%;
        height: 100%;
        width: 80em; } }
  .Header-section h1 {
    color: white;
    font-size: 2.6rem;
    text-align: center;
    letter-spacing: 2px; }
    @media only screen and (min-width: 661px) {
      .Header-section h1 {
        font-size: 6rem;
        text-align: center;
        letter-spacing: 2px; } }
    .Header-section h1 span {
      white-space: nowrap; }
  .Header-section .absolute, .Header-section .Nav-container, .Header-section .Wa-container h3, .Wa-container .Header-section h3, .Header-section .Wa-container .Wa-title, .Wa-container .Header-section .Wa-title {
    width: 100%;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0); }

.Wa-container {
  height: 36rem;
  white-space: nowrap; }
  @media only screen and (min-width: 661px) {
    .Wa-container {
      height: 50rem; } }
  .Wa-container h3 {
    font-size: 3rem;
    right: 200%;
    transition: all 1s ease-in-out 0.5s; }
    @media only screen and (min-width: 661px) and (max-width: 989px) {
      .Wa-container h3 {
        font-size: 5rem; } }
  .Wa-container .Wa-title-mid {
    right: 20%; }
  .Wa-container .Wa-title {
    font-size: 6rem;
    top: 50%;
    transform: translateY(-50%);
    transition: all 3s ease-in-out 0 !important; }
  .Wa-container .Wa-title-fade {
    opacity: 0;
    right: 10%; }
  .Wa-container .Wa-0 {
    right: 18% !important; }
  .Wa-container .Wa-1 {
    right: 19% !important; }
  .Wa-container .Wa-2 {
    right: 46% !important; }
  .Wa-container .Wa-3 {
    right: 9% !important; }
  .Wa-container .Wa-4 {
    right: 0% !important; }
  .Wa-container .Wa-5 {
    right: 32% !important; }
  .Wa-container .Wa-6 {
    right: 6% !important; }
  .Wa-container .Wa-7 {
    right: 38% !important; }
  .Wa-container .Wa-8 {
    right: 0% !important; }
  .Wa-container .Wa-9 {
    right: 43% !important; }
  .Wa-container .Wa-10 {
    right: 39% !important; }
  .Wa-container .Wa-11 {
    right: 18% !important; }
  .Wa-container .Wa-12 {
    right: 0% !important; }
  .Wa-container .Wa-13 {
    right: 23% !important; }
  .Wa-container .Wa-14 {
    right: 1% !important; }
  @media only screen and (min-width: 661px) and (max-width: 989px) {
    .Wa-container .Wa-title {
      font-size: 11rem; }
    .Wa-container h3 {
      font-size: 5.5rem; }
    .Wa-container .Wa-0 {
      right: 40% !important; }
    .Wa-container .Wa-1 {
      right: 18% !important; }
    .Wa-container .Wa-2 {
      right: 46% !important; }
    .Wa-container .Wa-3 {
      right: 30% !important; }
    .Wa-container .Wa-4 {
      right: 0% !important; }
    .Wa-container .Wa-5 {
      right: 32% !important; }
    .Wa-container .Wa-6 {
      right: 6% !important; }
    .Wa-container .Wa-7 {
      right: 38% !important; }
    .Wa-container .Wa-8 {
      right: 0% !important; }
    .Wa-container .Wa-9 {
      right: 59% !important; }
    .Wa-container .Wa-10 {
      right: 39% !important; }
    .Wa-container .Wa-11 {
      right: 11% !important; }
    .Wa-container .Wa-12 {
      right: 0% !important; }
    .Wa-container .Wa-13 {
      right: 23% !important; }
    .Wa-container .Wa-14 {
      right: 1% !important; } }
  @media only screen and (min-width: 990px) {
    .Wa-container .Wa-title {
      font-size: 18rem; }
    .Wa-container h3 {
      font-size: 5rem; }
    .Wa-container .Wa-0 {
      right: 40% !important; }
    .Wa-container .Wa-1 {
      right: 18% !important; }
    .Wa-container .Wa-2 {
      right: 75% !important; }
    .Wa-container .Wa-3 {
      right: 46% !important; }
    .Wa-container .Wa-4 {
      right: 5% !important; }
    .Wa-container .Wa-5 {
      right: 54% !important; }
    .Wa-container .Wa-6 {
      right: 6% !important; }
    .Wa-container .Wa-7 {
      right: 64% !important; }
    .Wa-container .Wa-8 {
      right: 25% !important; }
    .Wa-container .Wa-9 {
      right: 59% !important; }
    .Wa-container .Wa-10 {
      right: 39% !important; }
    .Wa-container .Wa-11 {
      right: 70% !important; }
    .Wa-container .Wa-12 {
      right: 10% !important; }
    .Wa-container .Wa-13 {
      right: 43% !important; }
    .Wa-container .Wa-14 {
      right: 1% !important; } }

.Products-animation {
  transform: rotate(2turn) translateX(0) !important; }

.Products,
.Products-roll {
  -webkit-transition: all 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
  transition: all 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s; }

.Products-roll {
  transform: translateX(-1000%); }

.Tracking-fade-in {
  opacity: 0; }

.zindex {
  z-index: 50; }

/*# sourceMappingURL=index.css.map */
